@import '../variables';

.fotobudka-prices {
  border-top: 4px solid $fb-color;
  background-color: $white;
  .fotobudka-container {
    display: flex;
    justify-content: space-between;

    > div {
      width: 24%;
      text-align: center;
    }
    .fotobudka-header {
      border: 2px solid $fb-color;
      color: $fb-color;
      text-transform: uppercase;
      padding: 20px 10px;
      font: {
        family: $Cinzel-font;
        size: 26px;
        weight: bold;
      }
    }
    .fotobudka-body {
      border: 1px solid $border-color;
      border-top: none;
      > div {
        text-transform: uppercase;
        font: {
          size: 14px;
          weight: 600;
          family: $Cinzel-font;
        }
        padding: 15px 2px;
        border-bottom: 1px solid $border-color;
        &:nth-child(2n + 2) {
          background-color: $bg-color;
        }
        &.fotobudka-hour {
          border: 2px solid $fb-color;
          color: $fb-color;
          font-weight: bold;
        }
        &.fotobudka-price {
          background-color: $white;
          font: {
            weight: bold;
            size: 18px;
          }
        }
        &.fotobudka-empty {
          color: $fb-color;
          font-weight: bold;
          &.helper {
            height: 73px;
            display: flex;
            justify-content: center;
            align-items: center;
          }
        }
      }
    }
  }
  .fotobudka-additional {
    padding-bottom: 50px;
    p {
      text-align: center;
      margin: 0;
      padding: 10px 0;
      text-transform: uppercase;
    }
  }
}