@import '../variables';


.nav-container-fb {
  position: absolute;
  top: 0;
  z-index: 1070;
  width: 100vw;
  height: 75px;
  overflow: hidden;
  background-color: $white;
  border-bottom: 4px solid $fb-color;
  .fb-nav {
    height: 100%;
    border-bottom: 4px solid $fb-color;
    .container {
      height: 100%;
    }
    ul.fb {
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        &:hover {
          color: $fb-color;
        }
      }
    }
    .navigation {
      text-transform: uppercase;
    }
  }
}

.active-fb {
  color: $fb-color !important;
  font-weight: bold;
}

@keyframes entering-fb {
  from {
    height: 0;
    border-bottom: none;
  }
  to {
    border-bottom: 4px solid $fb-color;
    height: 75px;
  }
}

@keyframes leaving-fb {
  0% {
    height: 75px;
    border-bottom: 4px solid $fb-color;
  }
  90% {
    border-bottom: 1px solid $fb-color;
  }
  100% {
    height: 0;
    border: none;
  }
}

.entering-fb {
  -webkit-animation: entering-fb 200ms forwards;
  animation: entering-fb 200ms forwards;
}

.leaving-fb {
  -webkit-animation: leaving-fb 500ms forwards;
  animation: leaving-fb 500ms forwards;
}
