@import "../variables";

.fotobudka-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
  div {
    width: 49%;
    p {
      margin: 0;
      padding-bottom: 10px;
    }
  }
  img {
    width: 100%;
    object-fit: contain;
  }
}