@import '../variables';

.nav-container-fb {
  position: absolute;
  top: 0;
  z-index: 1070;
  width: 100vw;
  overflow: hidden;
  background-color: $white;
  .fb-nav {
    height: 75px;
    border-bottom: 4px solid $fb-color;
    .container {
      height: 100%;
    }
    ul.fb {
      display: flex;
      justify-content: space-between;
      a {
        text-decoration: none;
        &:hover {
          color: $fb-color;
        }
      }
    }
    .navigation {
      text-transform: uppercase;
    }
  }
}

nav {
  box-shadow: none;
  box-sizing: content-box;
  background-color: transparent !important;

  ul.navigation.nav-jubiler {
    display: flex;
    justify-content: space-around;
  }
  ul.navigation {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    > li {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
      width: auto;
      position: relative;
      &.logo-container {
        width: 25%;
        height: 100%;
      }
      .brand-logo {
        width: 100%;
        height: 100%;
        &:hover {
          background-color: transparent;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
    a {
      font: {
        family: $PTSans-font;
        weight: bold;
        size: 20px;
      }
      padding: 0;
      transition: 0.2s;
      text-align: center;
      color: $white;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.5);
      &:hover {
        background-color: transparent;
        color: red;
      }
      &.link-left:hover {
        color: $main-color;
      }
    }
  }
}

.active-fb {
  color: $fb-color !important;
  font-weight: bold;
}

@keyframes entering-fb {
  from {
    height: 0;
    border-bottom: none;
  }
  to {
    border-bottom: 4px solid $fb-color;
    height: 75px;
  }
}

@keyframes leaving-fb {
  0% {
    height: 75px;
    border-bottom: 4px solid $fb-color;
  }
  90% {
    border-bottom: 1px solid $fb-color;
  }
  100% {
    height: 0;
    border: none;
  }
}

.entering-fb {
  -webkit-animation: entering-fb 200ms forwards;
  animation: entering-fb 200ms forwards;
}

.leaving-fb {
  -webkit-animation: leaving-fb 500ms forwards;
  animation: leaving-fb 500ms forwards;
}

