@import '../variables';

.nav-container-jub {
  position: absolute;
  top: 0;
  z-index: 1070;
  width: 100vw;
  overflow: hidden;
  background-color: $white;
  .jubiler-nav {
    height: 75px;
    border-bottom: 4px solid $jub-color;

    .container {
      height: 100%;
    }
    ul.nav-jubiler {
      display: flex;
      justify-content: space-around;
      a {
        text-decoration: none;

        &:hover {
          color: $jub-color;
        }
      }
    }
    .navigation {
      text-transform: uppercase;
    }
  }
}

@keyframes entering-jub {
  from {
    height: 0;
    border-bottom: none;
  }
  to {
    border-bottom: 4px solid $jub-color;
    height: 75px;
  }
}

@keyframes leaving-jub {
  0% {
    height: 75px;
    border-bottom: 4px solid $jub-color;
  }
  90% {
    border-bottom: 1px solid $jub-color;
  }
  100% {
    height: 0;
    border: none;
  }
}

.entering-jub {
  -webkit-animation: entering-jub 200ms forwards;
  animation: entering-jub 200ms forwards;
}

.leaving-jub {
  -webkit-animation: leaving-jub 500ms forwards;
  animation: leaving-jub 500ms forwards;
}
