@import '../variables';

// Gallery lightbox
.gallery {
  padding: 90px 0;
}
.grid-gallery {
  display: grid;
  grid-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: 250px;
  grid-auto-flow: dense;
}

.imageGallery1 {
  height: 100%;
  width: 100%;
  & a {
    height: 100%;
  }
  & img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.vertical {
  grid-row: span 2;
}

.lightbox-container {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100vw;
  height: 100vh;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 1090;
  .lightbox {
    position: relative;
    height: 100%;
    width: 100%;
    .lg-arrows {
      position: absolute;
      top: 50%;
      width: 100px;
      height: 200px;
      transform: translateY(-50%);
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 50px;
      cursor: pointer;
      &:focus {
        box-shadow: 0 0 15px -5px $main-color;
      }
    }
    .lg-left {
      left: 5%;
    }
    .lg-right {
      right: 5%;
    }
    .lg-close {
      position: absolute;
      right: 5%;
      top: 0;
      cursor: pointer;
      width: 100px;
      height: 100px;
      background-color: transparent;
      border: none;
      color: $white;
      font-size: 30px;
      &:focus {
        box-shadow: 0 0 15px -5px $main-color;
      }
    }
    img {
      position: fixed;
      left: 50%;
      top: 50%;
      max-height: 90%;
      max-width: 70%;
      transform: translate(-50%, -50%);
      object-fit: contain;
    }
  }
}
