@import '../variables';

.nav-img-container {
  background-color: $white;
  border-top: 4px solid $main-color;
  border-bottom: 4px solid $main-color;
  &-fb {
    border-top: 4px solid $fb-color;
    border-bottom: 4px solid $fb-color;
  }
  &-jubiler {
    border-top: 4px solid $jub-color;
    border-bottom: 4px solid $jub-color;
  }
  h2 {
    padding: 40px 0;
  }

  .navigation-images {
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 40px;
    > div.valign-wrapper {
      display: flex;
      width: 30%;
      height: 120px;
      align-items: center;
      text-align: center;
      transition: 0.5s;
      &:first-child:hover {
        box-shadow: 0 0 50px -5px $main-color;
      }
      &:nth-child(2):hover {
        box-shadow: 0 0 50px -5px $fb-color;
      }
      &:last-child:hover {
        box-shadow: 0 0 50px -5px $jub-color;
      }
      > a {
        color: $nav-color;
        text-decoration: none;
        font: {
          weight: 300;
          family: $Lato-font;
        }
        img {
          width: 70%;
          object-fit: contain;
        }
        h3 {
          font-size: 16px;
          margin: 0;
          font: {
            weight: 300;
            family: $Lato-font;
          }
        }
      }
    }
  }
}
