@import './variables';

@media only screen and (max-width: 991px) and (min-width: 768px) {
  // main
  .container {
    margin: 0;
    padding: 0;
    max-width: 100%;
  }
  .main-nav {
    position: relative;

    ul.navigation {
      padding: 0 2%;
      margin: 0;
      a {
        padding: 5px 0;
        font-size: 18px;
      }
    }
  }
  .fb-nav {
    ul.fb {
      padding: 0 2%;
    }
  }

  .slider-container {
    padding: 75px 0 0 0;
  }
  .my-slider-small {
    height: 400px;
  }

  h2 {
    font-size: 26px;
    padding: 50px 0;
  }

  .fotobudka-info {
    padding: 0 2%;
  }

  .fotobudka-prices {
    .fotobudka-container {
      .fotobudka-header {
        font-size: 20px;
      }
      .fotobudka-body {
        .helper {
          height: 73px;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }

  // images navigation
  .nav-img-container {
    .navigation-images {
      > div.valign-wrapper {
        width: 32%;
        font-size: 13px;
      }
    }
  }

  // aboutUs
  .about-us {
    .about-us-container {
      > div {
        padding: 0 20px;
        img {
          margin: 0;
          width: 60%;
          object-fit: contain;
        }
      }
    }
  }

  // accordion
  .accordion {
    padding: 0 2% 30px 2%;
  }

  // jubiler
  .jub-info {
    padding: 0 2%;
  }
  .flex-container {
    width: 100%;
    div {
      width: 55%;
      &:first-child {
        width: 45%;
      }
      > p {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }

  footer {
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  // recommendations
  .recommend {
    margin-top: 100px;
  }
  // regulations
  .regulation {
    margin: 100px 0 60px 0;
    padding: 0 2%;
  }

  // Wideo
  .video {
    padding: 75px 0;
    .frames {
      iframe {
        height: 400px;
      }
    }
  }

  // lightbox
  .lightbox-container {
    .lightbox {
      .lg-left {
        left: 0;
      }
      .lg-right {
        right: 0;
      }
      .lg-close {
        right: 0;
      }
      img {
        max-height: 100%;
        max-width: 80%;
      }
    }
  }
}
