@import './variables';

@media only screen and (max-width: 767px) {
  .container {
    max-width: 100vw;
  }

  .nav-container {
    display: none;
  }

  .main-aside, .menu-button {
    display: block;
  }

  .menu-button {
    position: fixed;
    z-index: 1090;
    color: $main-color;
    font-size: 50px;
    cursor: pointer;
    top: 0;
    left: 10px;
    line-height: 0;
    transition: 0.5s;
    i {
      height: 100%;
    }
  }
  .menu-button-show {
    transition: 0.5s;
    left: 110px;
  }

  .main-aside {
    position: fixed;
    top: 0;
    width: 0;
    height: 100vh;
    padding: 0;
    overflow: hidden;
    background-color: $white;
    z-index: 1080;
    transition: 0.5s;
    .menu-aside {
      position: absolute;
      top: 0;
    }
  }
  .show-menu {
    width: 100px;
    transition: 0.5s;
  }
}
