@import url('https://fonts.googleapis.com/css?family=Marck+Script|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Goudy+Bookletter+1911');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://fonts.googleapis.com/css?family=Merriweather');
@import url('https://fonts.googleapis.com/css?family=Lora');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700');

$Pacifico-font: 'Cinzel', serif;
$Marck-font: 'Marck Script', cursive;
$Lato-font: 'Lato', sans-serif;
$Meri-font: 'Lato', sans-serif;
$Roboto-font: 'PT Sans Narrow', sans-serif;

$main-color: #40c4ff;
$fb-color: #7b1fa2;
$jub-color: #ffd54f;

$font-color: #424242;
$white: #fff;

$border-color: #bdbdbd;
$bg-color: #eeeeee;