@import url('https://fonts.googleapis.com/css?family=Marck+Script|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,800');
@import url('https://fonts.googleapis.com/css?family=Cinzel:400,700,900');
@import url('https://fonts.googleapis.com/css?family=PT+Sans+Narrow:700');

$Cinzel-font: 'Cinzel', serif;
$Marck-font: 'Marck Script', cursive;
$Lato-font: 'Lato', sans-serif;
$PTSans-font: 'PT Sans Narrow', sans-serif;

$main-color: #40c4ff;
$main-hover: #2196f3;
$fb-color: #7b1fa2;
$jub-color: #ffd54f;
$bgc: #f5f5f5;
$footer-bgc: #263238;

$font-color: #424242;
$white: #fff;
$nav-color: #444444;

$border-color: #bdbdbd;
$bg-color: #eeeeee;
