@import url('https://fonts.googleapis.com/css?family=Marck+Script|Pacifico');

$Pacifico-font: 'Pacifico', cursive;
$Marck-font: 'Marck Script', cursive;

$main-color: #40c4ff;
$fb-color: #ad1457;
$jub-color: #ffd54f;

$font-color: #424242;
$white: #fff;

$border-color: #bdbdbd;
$bg-color: #eeeeee;