@import "~materialize-css/sass/materialize.scss";
@import "./_variables.scss";
@import "_carousel.scss";

body {
  @extend .grey, .lighten-4;
  color: $font-color;
}

nav {
  box-sizing: content-box;
  @extend .white;
  ul {
    a {
      color: $font-color;
    }
  }
}
.navigation {
  text-transform: uppercase;
}

.main-nav {
  border-bottom: 3px solid $main-color;
}

.fb-nav {
  border-bottom: 3px solid $fb-color;
}

.jubiler-nav {
  border-bottom: 3px solid $jub-color;
}

.active-main {
  color: $main-color;
  font-weight: bold;
}
.active-fb {
  color: $fb-color;
  font-weight: bold;
}
.right {
  display: flex;
  justify-content: flex-end;
}

.image-logo {
  width: 100px;
  height: 50px;
}

.brand-logo {
  max-width: 200px;
  img {
    width: 100%;
    object-fit: cover;
  }
}
h2 {
  font: {
    family: $Pacifico-font;
    size: 30px;
  }
  text-align: center;
  padding: 50px 0;
  margin: 0;
}
.acc-info {
  font: {
    family: $Pacifico-font;
    size: 26px;
  }
}
.nav-img-container {
  background-color: $white;
  border-top: 4px solid $main-color;
  border-bottom: 4px solid $main-color;
  &-fb {
    border-top: 4px solid $fb-color;
    border-bottom: 4px solid $fb-color;
  }
  &-jubiler {
    border-top: 4px solid $jub-color;
    border-bottom: 4px solid $jub-color;
  }

  .navigation-images {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
    > div {
      width: 30%;
      height: 120px;
      text-align: center;
      transition: 0.5s;
      &:first-child:hover {
        box-shadow: 0 0 50px -5px $main-color;
      }
      &:nth-child(2):hover {
        box-shadow: 0 0 50px -5px $fb-color;
      }
      &:last-child:hover {
        box-shadow: 0 0 50px -5px $jub-color;
      }
      > a {
        img {
          width: 80%;
        }
      }
    }
  }
}

.img-aboutus {
  margin: 20px 0;
  width: 60%;
}

.accordion {
  .header {
    font-size: 26px;
    cursor: pointer;
    padding: 10px 0;
    &:hover {
      color: $main-color;
      transition: .4s;
    }
  }
  .body {
    max-height: 0;
    background-color: $white;
    overflow: hidden;
    transition: max-height .5s ease-in-out;

  }
  .acc-padding {
    padding: 20px;
  }
  .active-accordion {
    max-height: 100px;
    transition: max-height .5s ease-in-out;
  }

}

.contact {
  background-color: $white;
}