@import './variables';

.accordion {
  background-color: $bg-color;
  padding-bottom: 50px;
  .card, .card-header {
    background-color: transparent;
    border: none
  }
  .card-header {
    padding: 0;
  }

  .btn-link {
    text-decoration: none;
    color: $font-color;
    font: {
      size: 26px
    }
  }

  .card-body {
    background-color: $white;
    color: $font-color;
  }
}