@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600');
@import url('https://fonts.googleapis.com/css?family=Charmonman:700');

$font-mont: 'Montserrat', sans-serif;
$font-charmon: 'Charmonman', cursive;

$main-color: #33b5e5;
$second-color: #9933CC;
$third-color: #FF8800;
$white: #fff;

$font-color: #686868;
$header-bg: #f8f8f8;
$bg-color: #e7e7e7;

